.body{
  background-color: #2a100f;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 0;
}
.nav{
  display: flex;
  justify-content: center;
  padding: 0 50px;
  width: 50%;
  align-self: center;
  position: relative;
}
.reset-btn-area{
  position: absolute;
  top: 1450%;
  right: 30px;
}
.reset-img{
  width: 160px;
  cursor: pointer;
}
.reset-img:hover{
  scale: 1.1;
  transition: 0.3s;
}
.box{
  width: 500px;
  border: 0;
  padding: 1.5em;
}
.item-img{
  width: 400px;
}
.result-img{
  width: 250px;
  height: 100px;
  aspect-ratio: 2.5/1;
}

.main{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1em;
}
.borders {
  border: 1px solid blue;
}
.title-img{
  width: 300px;
}
.counter-area{
  color: white;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  align-self: center;
  font-weight: 800;
}
.button-area{
  display: flex;
  justify-content: center;
  gap: 1em;
}
button {
  background-color: white;
  padding: 1rem;
  font-size: 50px;
  border-radius: 100px;
  border: 1px solid white;
  cursor: pointer;
}
button:hover{
  scale: 1.1;
}
button:focus{
  background-color: #2a100f;
}

.counter-area >.win{
  color: green;
}
.counter-area >.lose{
  color: red;

}
.counter-area >.tie{
  color: white;
}
@media (max-width:1220px) {
  .nav{
    justify-content: space-between;
  }
  .reset-btn-area{
    position: relative;
    top: 0;
    right: 0;
  }
}
@media (max-width:965px) {
  .box{
    width: 400px;
    padding: 1.5em 0;
  }
  .item-img{
    width: 300px;
  }
  .title-img{
    width: 150px;
    height: auto;
  }
  .result-img{
    width: 100px;
    height: auto;
  }
  .reset-img{
    width: 100px;
    height: auto;
  }
  .body{
    justify-content: space-around;
    gap: 0;
  }
}
@media (max-width:665px) {
 .main{
  flex-direction: column-reverse;
 }
 .item-img{
  width: 200px;
}
 .result-box{
  display: flex;
  align-items: center;
  justify-content: center;
 }
.box{
  padding: 0;
}
.nav{
  flex-direction: column-reverse;
  position: relative;
  bottom: -40px;
}
.reset-btn-area{
  position: absolute;
  right: 10px;
  top: -23px;
}
.button-area{
  position: relative;
  top: -25px;
}
button{
  font-size: 40px;
  padding: 10px;
}
}
@media (max-width:415px) {
  .box{
    width: 300px;
  }
  .result-box{
    flex-direction: column;
  }
  .item-img{
    width: 150px;
  }
}